#  ____ _______ _____    _____ _____ ____
# |  _ \__   __/ ____|  / ____|_   _/ __ \
# | |_) | | | | (___   | (___   | || |  | |
# |  _ <  | |  \___ \   \___ \  | || |  | |
# | |_) | | |  ____) |  ____) |_| || |__| |
# |____/_ |_|_|_____/  |_____/|_____\____/ _ ______ _____ _______ _____ ____  _   _
#  / ____|/ __ \| |      |_   _| \ | |    | |  ____/ ____|__   __|_   _/ __ \| \ | |
# | (___ | |  | | |        | | |  \| |    | | |__ | |       | |    | || |  | |  \| |
#  \___ \| |  | | |        | | | . ` |_   | |  __|| |       | |    | || |  | | . ` |
#  ____) | |__| | |____   _| |_| |\  | |__| | |___| |____   | |   _| || |__| | |\  |
# |_____/ \___\_\______| |_____|_| \_|\____/|______\_____|  |_|  |_____\____/|_| \_|
#
# Fichier des variables Docker
#
CONTAINER_PREFIX=secure-sql-injection